h1 {
  font-family: 'Avenir';
  text-align: center;
  font-size: 60px;
}

h2 {
  font-family: 'Avenir';
  text-align: center;
  font-size: 40px;
  margin-top: -30px;
}

img{
  width: 100px;
  height: 100px;
}

a:link { text-decoration: none; color: black }
a:visited { text-decoration: none; color: black }
a:active { text-decoration: none; color: black }
a:hover { color: blue }
