.title-container {
  display: grid;
  grid-template-columns: auto;
  margin-left: 50px;
  margin-right: 50px;
  border: 10px solid black;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  row-gap: 40px;
  padding: 30px;
}
.grid-item {
  background-color: #FFD8FF;
  box-shadow: 0 0 15px black;
  /* border: 30px solid white; */
  padding: 60px;
  font-size: 30px;
  text-align: center;
}
